@tailwind base;
@tailwind components;
@tailwind utilities;

.table th:first-child {
  position: relative;
  z-index: 2;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}

nextjs-portal {
  display: none;
}
body {
  overflow: auto !important;
}